@model KooliProjekt.Data.Car

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoID" class="control-label"></label>
                <input asp-for="AutoID" class="form-control" />
                <span asp-validation-for="AutoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register" class="control-label"></label>
                <input asp-for="Register" class="form-control" />
                <span asp-validation-for="Register" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KmTariff" class="control-label"></label>
                <input asp-for="KmTariff" class="form-control" />
                <span asp-validation-for="KmTariff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTariff" class="control-label"></label>
                <input asp-for="TimeTariff" class="form-control" />
                <span asp-validation-for="TimeTariff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="opIsActive" /> @Html.DisplayNameFor(model => model.opIsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
